parser: babel-eslint
extends: airbnb

env:
  mocha: true

rules:
  camelcase: 0
  no-return-await: 0
  comma-dangle: 0
  prefer-destructuring: 0
  lines-between-class-members: 0
  object-curly-newline: 0
  react/sort-comp: 0
  react/forbid-prop-types: 0
  react/jsx-filename-extension: 0
  react/no-array-index-key: 0
  react/destructuring-assignment: 0
  react/jsx-one-expression-per-line: 0
